
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    Name: <input type="text" name="name" id="castname" value="" /><br />
    Gender: <input type="text" name="gender" id="gender" value="" /><br />
    Tmdb Url: <input type="text" name="tmdbUrl" id="tmdbUrl" value="" /><br />
    Profile Path: <input type="text" name="profilePath" id="profilePath" value="" /><br />
    <input type="submit" name="save" value="Save Cast" />
</form>